<% diagnoses = Diagnosis.all.map{|diagnosis| [diagnosis.name, diagnosis.id]} %>
<%= form_for(@patient) do |f| %>
<p>
    <%= f.label 'Фамилия: ' %><%= f.text_field :surname %>
</p>
<p>
    <%= f.label 'Имя: ' %><%= f.text_field :name %>
</p>
<p>
    <%= f.label 'Отчество: ' %><%= f.text_field :patronymic %>
</p>
<p>
    <%= f.label 'Дата рождения: ' %><%= f.date_field :birthday %>
</p>
<p>
    <%= f.label 'Телефон: ' %><%= f.telephone_field :phone %>
</p>
<p>
	<%= f.label 'СНИЛС: ' %><%= f.text_field :snils %>
<p>
<p>
	<%= f.label 'Диагноз: ' %><%= f.select :diagnosis_id, diagnoses %>
</p>
<p>	
    <%= f.submit 'Отправить' %>
</p>
<% end %>