<h1>Пациенты /Первичное учреждение/</h1>
<table  class="table table-bordered table-stripped">
    <tr class="warning"><th>ФИО</th><th>Дата рождения</th><th>Контактный телефон</th><th>Зарегистрирован</th><th>Редактирование</th></tr>
    <% @patients.each do |patient| %>
    <tr><td><%= patient.surname %> <%= patient.name %> <%= patient.patronymic %></td><td><%= patient.birthday %></td><td><%= patient.phone %></td><td><%= patient.register %></td><td><%= link_to 'Изменить регистрацию', edit_patient_path(patient.id) %> | <%= link_to 'Просмотр', patient %> | <%= link_to 'Комиссия', :controller => 'patients', :action => 'new_comission', id: patient.id %> | <%= link_to 'Удалить', patient, method: :delete, data: { confirm: 'Вы уверены?' } %></td></tr>
    <% end %>
</table>
<p><%= link_to 'Новый пациент', new_patient_path %></p>
