<h1>Пациенты /Вторичное учреждение/</h1>
<table class="table table-bordered table-stripped">
    <tr class="warning"><th>ФИО</th><th>Дата рождения</th><th>Зарегистрирован</th><th>Редактирование</th></tr>
    <% @patients.each do |patient| %>
    <tr><td><%= patient.surname %> <%= patient.name %> <%= patient.patronymic %></td><td><%= patient.birthday %></td><td><%= patient.register %></td><td><%= link_to 'Просмотр', patient %> | <%= link_to 'Результат', :controller => 'patients', :action => 'new_result', id: patient.id %>  </td></tr>
    <% end %>
</table>
