
<% reports = Report.all.map{|report| [report.name, report.id]} %> 
<% orgs = Organization.where(type_org: '3').all.map{|organization| [organization.name, organization.id]} %>
  <h1>Комиссия</h1>
  <%= form_for @patient, url: 'new_comission' do |f| %>
  <p>Дата Комиссии <%= f.date_field(:date_report) %></p>
  <p>Результат: <%= f.select(:report_id, options_for_select(reports, 3)) %></p> 
  <p>Организация: <%= f.select(:organization_id, options_for_select(orgs)) %></p>
  <%= f.submit("Сохранить") %>
  <% end %>

 <script type="text/javascript">
	$("#report_id").change(function(){
		if ($("#report_id").val()!="1")
			$("#organization_id").attr('disabled', 'disabled');	
		else
			$("#organization_id").removeAttr('disabled');
	})
</script>
 
