
<% results = Result.all.map{|result| [result.name, result.id]} %> 
  <h1>Процедура</h1>
  <%= form_for @patient, url: 'new_result' do |f| %>
  <p>Дата начала процедуры <%= f.date_field(:proc_begin) %></p>
  <p>Дата окончания процедуры <%= f.date_field(:proc_end) %></p>
  <p>Результат: <%= f.select(:result_id, options_for_select(results)) %></p> 
  <%= f.submit("Сохранить") %>
  <% end %>

 
 
