<h1>Просмотр пациента /Вторичное учреждение/</h1>
<p>
    <b>Фамилия:</b> <%= @patient.surname %><br />
    <b>Имя:</b> <%= @patient.name %><br />
    <b>Отчество:</b> <%= @patient.patronymic %><br />
    <b>Дата рождения:</b> <%= @patient.birthday %><br />
    <b>Контактный телефон:</b> <%= @patient.phone %><br />
    <b>СНИЛС:</b> <%= @patient.snils %><br />
    <b>Диагноз:</b> <%= @patient.diagnosis.try(:name) %><br />
    <b>Организация для проведения процедуры: </b> <%= @patient.organization.name %><br />
    <b>Направление №: </b> <%= @patient.numdirection %><br />
    <b>Дата начала процедуры: </b> <%= @patient.proc_begin %><br />
    <b>Дата окончания процедуры: </b> <%= @patient.proc_end %><br />
    <b>Результат процедуры: </b> <%= @patient.result.try(:name) %><br />
    <%= link_to 'Изменить регистрационные данные', edit_patient_path(@patient) %><br />
    <%= link_to 'Комиссия', :controller => 'patients', :action => 'new_comission', :id => @patient.id %><br />
    <%= link_to 'Результат комиссии', :controller => 'patients', :action => 'new_result', :id => @patient.id %><br />
    <%= link_to 'Назад', patients_path %>
</p>