<h1>Просмотр пациента /Первичное учреждение/</h1>
<p>
    <b>Фамилия:</b> <%= @patient.surname %><br />
    <b>Имя:</b> <%= @patient.name %><br />
    <b>Отчество:</b> <%= @patient.patronymic %><br />
    <b>Дата рождения:</b> <%= @patient.birthday %><br />
    <b>Контактный телефон:</b> <%= @patient.phone %><br />
    <b>СНИЛС:</b> <%= @patient.snils %><br />
    <b>Диагноз:</b> <%= @patient.diagnosis.try(:name) %><br />
    <b>Зарегистрирован:</b> <%= @patient.register %><br />
    <b>Дата комиссии: </b> <%= @patient.date_report %><br />
    <b>Решение комиссии: </b> <%= @patient.report.try(:name) %><br />
    <b>Протокол комиссии №: </b> <%= @patient.numreport %><br />
    <b>Организация для проведения процедуры: </b> <%= @patient.organization.name %><br />
    <b>Направление №: </b> <%= @patient.numdirection %><br />
    <%= link_to 'Изменить регистрационные данные', edit_patient_path(@patient) %><br />
    <%= link_to 'Комиссия', :controller => 'patients', :action => 'new_comission', :id => @patient.id %><br />
    <%= link_to 'Назад', patients_path %>
</p>