<% orgs = Organization.all.map{|organization| [organization.name, organization.id]} %>
<% roles = [['Администратор', '1'],['Оператор первичного учреждения', '2'],['Оператор учреждения, проводящего процедуру', '3']] %>
<%= form_for(@user) do |f| %>
<p>
    <%= f.label 'Имя пользователя:' %> <%= f.text_field :username %>
</p>
<p>
    <%= f.label 'Пароль: ' %><%= f.password_field :password %>
</p>
<p>
    <%= f.label 'Фамилия: ' %><%= f.text_field :surname %>
</p>
<p>
    <%= f.label 'Имя: ' %><%= f.text_field :name %>
</p>
<p>
    <%= f.label 'Отчество: ' %><%= f.text_field :patronymic %>
</p>
<p>
    <%= f.label 'Организация: ' %><%= f.select :organization_id, orgs %>
</p>
<p>
    <%= f.label 'Должность: ' %><%= f.select :type_role, roles %>
</p>
<p>
    <%= f.submit 'Отправить' %>
</p>
<% end %>