<% @page_title = "Авторизация" -%>
<div class= "Sign_Form">
  <h1>Войти</h1>
  <%= form_tag '/auth', :users => :check_auth do %>
    <p>Имя пользователя</br> <%= text_field_tag(:username) %></p> 
    <p>Пароль:</br> <%= password_field_tag :password %></p> 
    <%= submit_tag("Войти") %>
  <% end %>
</div>