<h1>Пользователи</h1>
<table class="table table-bordered table-stripped">
    <tr class="warning"><th>ID</th><th>Имя пользователя</th><th>ФИО</th><th>Редактирование</th></tr>
    <% @users.each do |user| %>
    <tr><td><%= user.id %></td><td><%= user.username %></td><td><%= user.surname %> <%= user.name %> <%= user.patronymic %></td><td><%= link_to 'Изменить', edit_user_path(user.id) %> | <%= link_to 'Просмотр', user %> | <%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td></tr>
    <% end %>
</table>
<p><%= link_to 'Новый пользователь', new_user_path %></p>
