<p>
<strong>Имя пользователя:</strong> <%= @user.username %><br />
<b>Фамилия:</b> <%= @user.surname %><br />
    <b>Имя:</b> <%= @user.name %><br />
    <b>Отчество:</b> <%= @user.patronymic %><br />
    <b>Организация:</b> <%= @user.organization.name %><br />
    <b>Должность:</b> 
    <% case @user.type_role 
        when 1 %><%= 'Администратор' %>
        <% when 2 %><%= 'Оператор первичного учреждения' %>
        <% when 3 %><%= 'Оператор учреждения, проводящего процедуру ЭКО' %>
        <% end %>
    <br />
    <%= link_to 'Изменить', edit_user_path(@user) %> | <%= link_to 'Назад', users_path %>
</p>