<% orgs = [['ЧОМИАЦ', '1'],['Первичное учреждение', '2'],['Учреждение, проводящее процедуру', '3']] %>
<%= form_for(@organization) do |f| %>
<p>
    <%= f.label 'Наименование:' %> <%= f.text_field :name %>
</p>
<p>
	<%= f.label 'Тип:' %> <%= f.select :type_org, orgs %>
</p>
<p>
    <%= f.submit 'Отправить' %>
</p>
<% end %>