<h1>Организации</h1>
<table border>
    <tr><th>ID</th><th>Название организации</th><th>Редактирование</th></tr>
    <% @organizations.each do |organization| %>
    <tr><td><%= organization.id %></td><td><%= organization.name %></td><td><%= link_to 'Изменить', edit_organization_path(organization.id) %> | <%= link_to 'Удалить', organization, method: :delete, data: { confirm: 'Вы уверены?' } %></td></tr>
    <% end %>
</table>
<p><%= link_to 'Новая организация', new_organization_path %></p>
