<!DOCTYPE html>
<html>
<head>
  <title>Система управления очередями</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

<% if session[:user_id] %>
  <%  @current_user = User.find session[:user_id] %>
    <div class="alert alert-success" style="text-align: right">Вы зашли как <%= @current_user.username %>, <%= link_to 'Выйти', :controller => :users, :action => :logout %></div>
<div class="alert alert-info" >
    <%= link_to 'Пользователи', users_path %> |
  <%= link_to 'Организации', organizations_path %> |
  <%= link_to 'Пациенты', patients_path %>
</div>
  <% end %>
    <%= yield %>
</body>
</html>
